<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="contact" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/contact.css">

</head>
<body>
    <div class="page-container">
        <div class="contact-wrapper">
    
            <div class="contact-sidebar">
                <div class="logo">
                    <img src="../images/ShoeFlameLogo.png" alt="Logo">
    
                </div>
                <div class="company-details">
                    <div>
                        123 N 321 E, Lehi UT
                    </div>
                    <div>
                        801-333-3333
                    </div>
                    <div>
                        contact@FlamePhamtonShoes.com
                    </div>
                    <div>
                        Monday-Friday 9am - 7pm
                    </div>
                </div>
    
            </div>
    
            <div class="form-wrapper">
                <div class="form-items">
                    <input type="text" id="fullName" placeholder="Your name">
                    <label for="fullName">Your name</label>
                </div>
                <div class="form-items">
                    <input type="text" id="email" placeholder="Your email">
                    <label for="email">Your email</label>
                </div>
                <div class="form-items">
                    <textarea type="text" id="message" placeholder="Your message"></textarea>
                    <label for="message">Your Message</label>
                </div>
    
                <div class="spacer10"></div>
                
                <div class="send-btn-wrapper">
                    <button type="submit" class="btn">Send</button>
                </div>
                
            </div>
        </div>
    
    
    </div>
    
    
    
</body>
</html>