<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7bfdb387d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="https://www.childhood.org.au/app/uploads/2017/07/ACF-logo-placeholder.png" alt="shoe shop"></a>
            <h5>Shoe Shop</h5>
        </div>
        <div class="site-links">
            <ul>
               <li><a href="#">Home</a></li>
               <li><a href="#">Products</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul>
                <li><a class="social-link" href="#">Facebook <i class="fab fa-facebook"></i></a></li>
                <li><a class="social-link" href="#">Twitter <i class="fab fa-twitter"></i></a></li>
                <li><a class="social-link" href="#">Instagram <i class="fab fa-instagram"></i></a></li>
                <li><a class="social-link" href="#">Pinterest <i class="fab fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</body>
</html>