<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../static/header.css">
</head>
<body>
    <div class="container">
        <div class="header-wrapper">

            <div class="logo-wrapper">

                <div class="logo">
                    <img src="//d2g7hq7b13ky76.cloudfront.net/files/styles/square_s/public/2017-11/bauer_1043.jpg?itok=M1uyIooq" alt="Logo">
                </div>
            </div>

            <div class="link-wrapper">
                <div class="link-one">
                    <a href="Products.html">Products</a>
                </div>
                        
                <div class="link-two">
                    <a href="about-us.html">About Us</a>
                </div>
                        
                <div class="link-three">
                    <a href="contact-us.html">Contact Us</a>
                </div>

            </div>

        </div>
     </div>   
</body>
</html>