<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {{ url_for('static', filename='index.css') }}
    {{ url_for('static', filename='revolt-164_6wVEHfI-unsplash.jpg') }}



</head>
<body>
    <div class="container">
        <div class="statement">
            <h1>
                Of course our shoes are "ethically" sourced - Dan
            </h1>
        </div>
    </div>
</body>
</html>