<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/products-styles.css">    
</head>
<body>
    <div>
        <h1> Lastest Kicks </h1>
        <div class="red-border"></div>
        <div class="button-wrapper">
            <button>Filter</button>
            <button>Sort By</button>
        </div>
            <div class="navigation-wrapper">
                <div class="card-wrapper">
                    <div class="shoe-image-wrapper">
                        <img src="../Images/colorful shoes.jpeg" alt="Product 1">
                    </div>
                    <div class="shoe-name-wrapper">
                        <div>"The Virgins"<br>$69</div>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="shoe-image-wrapper">
                        <img src="../Images/green adidas.jpeg" alt="Product 2">
                    </div>
                    <div class="shoe-name-wrapper">
                        <div>"Bored Outta My Mind"<br>$69</div>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="shoe-image-wrapper">
                        <img src="../Images/yellow nikes.jpeg" alt="Product 3">
                    </div>
                    <div class="shoe-name-wrapper">
                        <div>"The Ronald McDonalds"<br>$69</div>
                    </div>
                </div>
            </div> 
        </div>   
    </body>
</html>