<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/product.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>product</title>
</head>
<body>
    
<main class="container">
 
        <!-- Left Column / Shoe Image -->
        <div class="left-column">
          <img src="https://i.insider.com/5b3b978e4a26271d008b4847?width=700&format=jpeg&auto=webp" alt="boots">
        </div>
       
       
        <!-- Right Column -->
        <div class="right-column">
       
          <!-- Product Description -->
          <div class="product-description">
            <span>Shoe Shop</span>
            <h1>The Curb Stopper</h1>
            <p>The preferred choice of boot for being a total douchebag. Contoured heel increases curb-stopping ability, and steel toe allows karate moves in any situation. If you are practicing abstinence, this is the shoe for you.</p>
          </div>
       
          <!-- Product Configuration -->
          <div class="product-configuration">
       
            <!-- Color Configuration -->
            <div class="color-config">
              <span>Color</span>
       
              <div class="color-choose">
                <button>Black</button>
                <button>Brown</button>
                <button>Tan</button>
              </div>
       
              <a href="#">Do you need a therapist? If you're buying these boots, consider getting a therapist as well</a>
            </div>
          </div>
       
          <!-- Product Pricing -->
          <div class="product-price">
            <span>148$</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </main>
    </body>
</html>